*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family;
  color: $color-text;
  line-height: 1.6;
}

a {
  color: $color-primary;
  text-decoration: none;
}
