.projects-page {
  
}

.project-item {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  padding-bottom: 5rem;

}

.project-info {
  font-size: 1.4rem;
  flex: 1;
}

.project-title {
  font-size: 1.5rem;
  color: #000;
}

.project-address {
  line-height: 2rem;
  color: #888;
  margin: 0;
}

.project-year {
  line-height: 2rem;
  color: #888;
  margin: 0;
}

.project-description {
  font-size: 0.95rem;
  color: #888;
  line-height: 1.4;
  margin: 0;
}

.project-image {
  width: 280px;
  height: 180px;
  object-fit: cover;
  flex-shrink: 0;
}
